@model IEnumerable<aspnetmvc2_ska.Models.Product>

@{
    ViewBag.Title = "View Products";
}

<h2>@ViewBag.Title</h2>

<!-- Contents -->
@*<div class="col-md-8">
    <div class="col-sm-8 col-md-6 col-lg-4">
        <form action='@Url.Action("CurrentCourses", "Course")' method="post">
            <div>
                <input id="SearchString" name="SearchString" type="text">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
</div>*@

<table class="table table-striped table-bordered">
    <thread>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.SupplierID)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.CategoryID)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.QuantityPerUnit)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.UnitsInStock)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.UnitsOnOrder)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ReorderLevel)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Discontinued)
            </th>
        </tr>
    </thread>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.SupplierID)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.CategoryID)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.QuantityPerUnit)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.UnitsInStock)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.UnitsOnOrder)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.ReorderLevel)
                </td>
                <td scope="row">
                    @Html.DisplayFor(modelItem => item.Discontinued)
                </td>
            </tr>
        }
    </tbody>
</table>